#---------------------------------------------------------
# Templates configuration file
# Values separated by ";"
# . value 1 : the label
# . value 2 : the file to be generated ( var allowed : ${BEANNAME}, ${BEANNAME_UC}, ${BEANNAME_LC} )
# . value 3 : the project folder where to generate ( var allowed : ${BEANNAME}, ${BEANNAME_UC}, ${BEANNAME_LC} )
# . value 4 : the template to use ( or 'resources' origin file or folder )
# . value 5 : 
#      - "1" for "ONLY ONE GENERATION" (independently of the number of entities)
#      - "*" (or nothing) for "MULTIPLE GENERATIONS" (one generation for each entity)
#      - "R" for "static resources" to copied
#---------------------------------------------------------

# Static resources ( located in 'resources' ) 
Web resources   ;  ; ${WEB} ; static-web-resources ; R

# Config 
Config : pom.xml          				; pom_jsf.xml   					;				 	; config/pom_xml_for_jsf.vm  ; 1
Config : web.xml           				; web.xml              	 			; ${WEB}/WEB-INF 	; config/web_xml.vm ; 1

# Messages
messages_en                ; messages_en.properties                        	   	; ${RES}/messages ; message/messages_en.vm		; 1
messages_fr_FR             ; messages_fr_FR.properties                          ; ${RES}/messages ; message/messages_fr_FR.vm	; 1
Entity messages en         ; messages${BEANNAME}_en.properties                  ; ${RES}/messages ; message/ENTITY_en.vm      	; *
Entity messages fr_FR      ; messages${BEANNAME}_fr_FR.properties               ; ${RES}/messages ; message/ENTITY_fr_FR.vm   	; *

# Web - Common 
FacesUtils            ; FacesUtils.java             ; ${SRC}/${ROOT_PKG}/commons ; commons/FacesUtils_java.vm           ; 1

# Controller JSF
Entity Controller   ; ${BEANNAME}Controller.java ; ${SRC}/${ROOT_PKG}/web/jsf/controller ; web_controller/ENTITY_Controller_java.vm ; *
Entity Language   	; LanguageController.java 	; ${SRC}/${ROOT_PKG}/web/jsf/controller ; web_controller/Language_Controller_java.vm ; 1

# views JSF
index.xhtml         ; index.xhtml                ; ${WEB}/views                 ; web_view/index_xhtml.vm                   ; 1
validation.js       ; validation.js            ; ${WEB}/js                 		; include/js/validation_js.vm               ; 1


#Config : faces-config-primefaces.xml 	; faces-config-primefaces.xml		; ${WEB}/WEB-INF ; config/faces-config-primefaces_xml.vm   ; 1
#Config : faces-config-richfaces.xml 	; faces-config-richfaces.xml		; ${WEB}/WEB-INF ; config/faces-config-richfaces_xml.vm   ; 1

# Default views JSF
Default faces config 	; faces-config-default.xml		; ${WEB}/WEB-INF 					; config/faces-config-default_xml.vm   		; 1
Default JSF template    ; template.xhtml   				; ${WEB}/views/default/  			; web_view/default/template_xhtml.vm		; 1
Default JSF Manage		; ${BEANNAME_LC}Manage.xhtml	; ${WEB}/views/default/${BEANNAME}/ ; web_view/default/ENTITY_manage_xhtml.vm	; *
Default JSF list     	; ${BEANNAME_LC}List.xhtml   	; ${WEB}/views/default/${BEANNAME}/ ; web_view/default/ENTITY_list_xhtml.vm		; *

# Primefaces views JSF
Primefaces faces config 	; faces-config-primefaces.xml	; ${WEB}/WEB-INF 						; config/faces-config-primefaces_xml.vm   		; 1
Primefaces JSF template   	; template.xhtml   				; ${WEB}/views/primefaces/  			; web_view/primefaces/template_xhtml.vm			; 1
Primefaces JSF Manage		; ${BEANNAME_LC}Manage.xhtml	; ${WEB}/views/primefaces/${BEANNAME}/ 	; web_view/primefaces/ENTITY_manage_xhtml.vm	; *
Primefaces JSF list     	; ${BEANNAME_LC}List.xhtml   	; ${WEB}/views/primefaces/${BEANNAME}/ 	; web_view/primefaces/ENTITY_list_xhtml.vm		; *

# Richfaces views JSF
Richfaces faces config 	; faces-config-default.xml		; ${WEB}/WEB-INF 					; config/faces-config-default_xml.vm   		; 1
Richfaces JSF template    ; template.xhtml   				; ${WEB}/views/default/  			; web_view/default/template_xhtml.vm		; 1
Richfaces JSF Manage		; ${BEANNAME_LC}Manage.xhtml	; ${WEB}/views/default/${BEANNAME}/ ; web_view/default/ENTITY_manage_xhtml.vm	; *
Richfaces JSF list     	; ${BEANNAME_LC}List.xhtml   	; ${WEB}/views/default/${BEANNAME}/ ; web_view/default/ENTITY_list_xhtml.vm		; *

# REST
# Rest Entity Controller   ; ${BEANNAME}RestController.java             ; ${SRC}/${ROOT_PKG}/rest/controller    ; rest_controller/ENTITY_Rest_Controller_java.vm ; *
# Rest Exception Handler   ; GlobalRestControllerExceptionHandler.java  ; ${SRC}/${ROOT_PKG}/rest/common        ; rest_common/GlobalRestControllerExceptionHandler_java.vm ; 1
# Rest CORS Filter         ; CORSFilter.java                            ; ${SRC}/${ROOT_PKG}/rest/common        ; rest_common/CORSFilter_java.vm ; 1

# Business Layer - Services
# Business Service interface ; ${BEANNAME}Service.java         ; ${SRC}/${ROOT_PKG}/business/service           ; business/service_interface.vm			; *


# Tagx
# ( Now is a resource )Message.tagx			; message.tagx					; ${WEB}/WEB-INF/tags/util	; tags/message_tagx.vm			; 1

# i18n messages
# ( Now is a resource ) application.vm			            ; application.properties		                ; ${WEB}/WEB-INF/i18n		; message/application.vm		; *
# ( Now is a resource ) application_fr_FR.vm	            ; application_fr_FR.properties	                ; ${WEB}/WEB-INF/i18n		; message/application_fr_FR.vm	; *
# ( Now is a resource ) application_en.vm	            	; application_en.properties	               		; ${WEB}/WEB-INF/i18n		; message/application_en.vm	; *


# TESTS
# Tests : Conversion     ; ConversionServiceFactoryBeanTest.java ; ${TEST_SRC}/${ROOT_PKG}/web/convert    ; web_convert/ConversionServiceFactoryBeanTest_java.vm ; 1
# Tests : Controller     ; ${BEANNAME}ControllerTest.java        ; ${TEST_SRC}/${ROOT_PKG}/web/controller ; web_controller/ENTITY_ControllerTest_java.vm         ; *
# Tests : mock values    ; MockValues.java                       ; ${TEST_SRC}/${ROOT_PKG}/test ; tests/MockValues.vm                 ; 1
# Tests : Entity Factory ; ${BEANNAME}FactoryForTest.java        ; ${TEST_SRC}/${ROOT_PKG}/test ; tests/ENTITY_FactoryForTest_java.vm ; *
